*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("wallpaper.jpg");
    
}
.container{
    max-width: 300px;
    margin-bottom: 10px;
    border: 3px solid black;
    margin: 30vh auto 0 auto;
    box-shadow: 15px 15px 50px 15px;
    background-color: white; 
}
 
#display{
    text-align: right;
    border: 3px solid ;
    height: 70px;
    line-height: 70px;
    padding: 10px;
    margin: 5px;
    font-size: 25px;
    background-color: antiquewhite;
    font-family:"Times New Roman", Times , serif;
    
}

.buttons{
  display:grid;
  /* border-bottom: 2px solid green; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* border-left: 2px solid green; */
  /* border-right: 2px solid green; */
 
}


.button{
    border: 1px solid black;
    line-height: 70px;
    margin: 4px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;

}

#equalsign{
    background-color: rgb(121, 121, 180);
    color: black;

}

#equalsign:hover{
    color: white;
}

.button:hover{
    background-color: gray;
    color: white;
    transition: 0.5s;
}

#result{
    padding: 1px; 
}